* {
	padding: 0;
	margin: 0;
}

body {
	font-family: HogfishDEMO !important;
}

:root {
	--main-color: #0099cc;
	--secondary-color: #7fbeeb;
	--title-color: rgb(215, 99, 99);
}

.zoo {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: var(--main-color);
}

.emoji {
	display: inline-block;

	font-family: FirefoxEmoji !important;
	text-shadow: 2px 2px black;

	transform: translate(-50%, 50%);

	position: fixed;
}

.animal {
	font-size: 13vmin;
}

.poop {
	font-size: 5vmin;
	cursor: pointer;
}

.bounce {
	animation: bounce 300ms alternate ease-in-out infinite;
}

/* Fence */
.fence {
	position: fixed;
	bottom: 0;
	height: 20vh;
	display: flex;
	justify-content: center;
	width: 100%;
}

.fence img {
	height: 100%;
}

.title {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--title-color);
	font-size: 3.5vw;
}

/* Score */
.score {
	position: fixed;
	top: 4vh;
	right: 4vw;
	font-size: 4vw;
}

.value {
	color: var(--title-color);
}

@keyframes bounce {
	0% {
		transform: translate(-50%, 50%) translateY(-2vmin);
	}
	1000% {
		transform: translate(-50%, 50%) translateY(2vmin);
	}
}
